<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chainverse.sdk">

    <application>
        <activity android:name=".ui.ChainverseSDKActivity"></activity>
    </application>

    <queries>
        <!-- Explicit apps you know in advance about: -->
        <package android:name="org.chainverse"/>
    </queries>
</manifest>